#!/bin/sh

alias ll='ls -lah';
alias __ports='sudo lsof -iTCP -sTCP:LISTEN -P -n';
alias __mem='sudo free -m';
alias __disk='dh -h';
alias __diski='df -hi';
which xclip >/dev/null && alias pbcopy='xclip -selection clipboard';
which pm-powersave >/dev/null && alias __chill='sudo pm-powersave true';
which pm-powersave >/dev/null && alias __chiong='sudo pm-powersave false';

[ -e "${HOME}/.aliases_docker" ] && source "${HOME}/.aliases_docker";
[ -e "${HOME}/.aliases_git" ] && source "${HOME}/.aliases_git";
[ -e "${HOME}/.aliases_kubectl" ] && source "${HOME}/.aliases_kubectl";
[ -e "${HOME}/.aliases_terrax" ] && source "${HOME}/.aliases_terrax";
