#!/bin/sh
# > shell
alias ll='ls -lA';
# / shell

# > docker
alias dk='docker';
alias dkc='docker-compose';
alias dkb='docker build';
alias dksvc='docker service';
alias dksvcl='docker service logs';
alias dks='docker stack';
alias dkssvc='docker stack service';
alias dksd='docker stack deploy';
alias dkr='docker run';
alias dkb='docker build';
alias dkl='docker login';
alias dkpush='docker push';
alias dkpull='docker pull';
alias dkps='docker ps';
alias dkcon='docker container';
alias dkimg='docker image';
# / docker

# > git
alias ga='git add';
alias gcb='printf %s "$(git branch | grep "*" | cut -f 2 -d " ")"';
alias gcm='git commit -m';
alias gcmae='git commit --allow-empty -m';
alias gco='git checkout';
alias gcob='gco -b';
alias gf='git fetch';
alias gi='git init';
alias gl='git log';
alias gln='git log -n';
alias gplrecb='git pull --rebase origin $(gcb)';
alias gplcb='git pull origin $(gcb)';
alias gpscb='git push origin $(gcb)';
alias gr='git rebase';
alias gri='git rebase -i HEAD~';
alias gs='git status';
# / git

# > kubectl
alias kc='kubectl';
alias kca='kubectl apply -f';
alias kccv='kubectl config view';
alias kcd='kubectl describe';
alias kcdcm='kubectl describe configmap';
alias kcdd='kubectl describe deployment';
alias kcdp='kubectl describe pod';
alias kcdpv='kubectl describe persistentvolume';
alias kcdpvc='kubectl describe persistentvolumeclaim';
alias kcdn='kubectl describe node';
alias kcdsec='kubectl describe secret';
alias kcds='kubectl describe service';
alias kcdi='kubectl describe ingress';
alias kcdcm='kubectl describe configmap';
alias kcdel='kubectl delete';
alias kcdelcm='kubectl delete configmap';
alias kcdeld='kubectl delete deployment';
alias kcdelp='kubectl delete pod';
alias kcdelpv='kubectl delete persistentvolume';
alias kcdelpvc='kubectl delete persistentvolumeclaim';
alias kcdelsec='kubectl delete secret';
alias kcdels='kubectl delete service';
alias kcdeli='kubectl delete ingress';
alias kcg='kubectl get';
alias kcgp='kubectl get pods -o wide';
alias kcgpv='kubectl get persistentvolume -o wide';
alias kcgpvc='kubectl get persistentvolumeclaim -o wide';
alias kcgn='kubectl get nodes -o wide';
alias kcgep='kubectl get ep -o wide';
alias kcgd='kubectl get deploy -o wide';
alias kcgs='kubectl get service -o wide';
alias kcgsec='kubectl get secrets -o wide';
alias kcgi='kubectl get ing -o wide';
alias kcgcm='kubectl get configmap -o wide';
alias kcl='kubectl logs';
alias kclf='kubectl logs -f';
alias kcexec='kubectl exec';
# / kubectl

# > gcloud
alias gcl='gcloud';
alias gcle='gcloud compute';
alias gcleals='gcloud compute addresses list'
alias gcldkpush='gcloud docker -- push';
alias gcldkpull='gcloud docker -- pull';
# / gcloud

# > gcloud gke
alias gke='gcloud container';
alias gkeils='gcloud container image list --repository'
alias gkeitls='gcloud container image list-tags'
# / gcloud gke