[user]
  name = zephinzer
[core]
  editor = vim
[commit]
  gpgsign = true
[gpg]
  program = gpg
[includeIf "gitdir:~/**/gitlab.*/"]
  path = ~/.gitlab.com.zephinzer.gitconfig
[includeIf "gitdir:~/**/github.com/"]
  path = /home/z/.github.com.zephinzer.gitconfig
